<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/g4g/css/cal-style.css" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
		<div class="container-calendar">
			<div id="heading">
				<h1>BLATT DER STREAKS</h1>
				<h2>{{ habit.title }}</h2>
				<h3>{{ habit.description }}</h3>
			</div>
			<div id="content">
				<h3 id="monthAndYear"></h3>
				<div class="button-container-calendar">
					<button id="previous"
							onclick="previous()">
						‹
					</button>
					<button id="next"
							onclick="next()">
						›
					</button>
				</div>
				<table class="table-calendar"
					id="calendar">
					<thead id="thead-month"></thead>
					<!-- Table body for displaying the calendar -->
					<tbody id="calendar-body"></tbody>
				</table>
				<div class="footer-container-calendar">
					<label for="month">Jump To: </label>
					<!-- Dropdowns to select a specific month and year -->
					<select id="month" onchange="jump()">
						<option value=0>Jan</option>
						<option value=1>Feb</option>
						<option value=2>Mar</option>
						<option value=3>Apr</option>
						<option value=4>May</option>
						<option value=5>Jun</option>
						<option value=6>Jul</option>
						<option value=7>Aug</option>
						<option value=8>Sep</option>
						<option value=9>Oct</option>
						<option value=10>Nov</option>
						<option value=11>Dec</option>
					</select>
					<!-- Dropdown to select a specific year -->
					<select id="year" onchange="jump()"></select>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">

	const entryDatesAsArr = JSON.parse('{{ entry_dates | escapejs }}');

	// Call the showCalendar function initially to display the calendar
	window.addEventListener('DOMContentLoaded', function() {

		createYear = generateYearRange(2020, 2050);
		document.getElementById("year").innerHTML = createYear;

		$dataHead = "<tr>";
		for (dhead in days) {
			$dataHead += "<th data-days='" +
				days[dhead] + "'>" +
				days[dhead] + "</th>";
		}
		$dataHead += "</tr>";

		document.getElementById("thead-month").innerHTML = $dataHead;

		monthAndYear = document.getElementById("monthAndYear");

		showCalendar(currentMonth, currentYear);
	});

	// Function to generate a range of
	// years for the year select input
	function generateYearRange(start, end) {
		let years = "";
		for (let year = start; year <= end; year++) {
			years += "<option value='" +
				year + "'>" + year + "</option>";
		}
		return years;
	}

	// Initialize date-related letiables, potentially reading URL query params
	today = new Date();
	currentMonth = today.getMonth();
	if ('{{mo}}' != null && '{{mo}}' != 'None') {
		currentMonth = Number('{{mo}}') - 1;
	}
	currentYear = today.getFullYear();
	if ('{{yr}}' != null && '{{yr}}' != 'None') {
		currentYear = '{{yr}}';
	}

	months = [
		"January",
		"February",
		"March",
		"April",
		"May",
		"June",
		"July",
		"August",
		"September",
		"October",
		"November",
		"December"
	];
	days = [
		"Sun", "Mon", "Tue", "Wed",
		"Thu", "Fri", "Sat"];

	// Function to navigate to the next month
	function next() {
		let selectYear = document.getElementById("year");
		let selectMonth = document.getElementById("month");
		let currentYear = parseInt(selectYear.value);
		let currentMonth = parseInt(selectMonth.value);
		currentYear = currentMonth === 11 ?
			currentYear + 1 : currentYear;
		currentMonth = (currentMonth + 1) % 12;
		showCalendar(currentMonth, currentYear);
	}

	// Function to navigate to the previous month
	function previous() {
		let selectYear = document.getElementById("year");
		let selectMonth = document.getElementById("month");
		let currentYear = parseInt(selectYear.value);
		let currentMonth = parseInt(selectMonth.value);
		currentYear = currentMonth === 0 ?
			currentYear - 1 : currentYear;
		currentMonth = currentMonth === 0 ?
			11 : currentMonth - 1;
		showCalendar(currentMonth, currentYear);
	}

	// Function to jump to a specific month and year
	function jump() {
		let selectYear = document.getElementById("year");
		let selectMonth = document.getElementById("month");
		let currentYear = parseInt(selectYear.value);
		let currentMonth = parseInt(selectMonth.value);
		showCalendar(currentMonth, currentYear);
	}

	// Function to display the calendar
	function showCalendar(month, year) {

		let selectYear = document.getElementById("year");
		let selectMonth = document.getElementById("month");
		let firstDay = new Date(year, month, 1).getDay();
		let tbl = document.getElementById("calendar-body");
		tbl.innerHTML = "";
		monthAndYear.innerHTML = months[month] + " " + year;
		selectYear.value = year;
		selectMonth.value = month;

		const entryDates = getEntryDates();

		let date = 1;
		for (let i = 0; i < 6; i++) {
			let row = document.createElement("tr");
			for (let j = 0; j < 7; j++) {
				if (i === 0 && j < firstDay) {
					cell = document.createElement("td");
					cellText = document.createTextNode("");
					cell.appendChild(cellText);
					row.appendChild(cell);
				} else if (date > daysInMonth(month, year)) {
					break;
				} else {
					cell = document.createElement("td");
					cell.className = "date-picker";

					// TODO: IF is eligible

					cell.innerHTML = `
						<form action="{% url 'setentry' habit.id %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="year" value="${year}"/>
							<input type="hidden" name="month" value="${month + 1}"/>
							<input type="hidden" name="day" value="${date}"/>
							<input type="submit" value="${date}"/>
						</form>`; // TODO: make prettier

					// Check if there are entries on this date
					if (hasEntryOnDate(date, month, year, entryDates)) {
						cell.classList.add("event-marker");
					}

					row.appendChild(cell);
					date++;
				}
			}
			tbl.appendChild(row);
		}
	}

	function getEntryDates() {

		if (!entryDatesAsArr) {
			return [];
		}

		let entryDates = [];
		entryDatesAsArr.forEach(element => {
			entryDates.push(new Date(element[0], element[1] - 1, element[2]));
		});

		return entryDates;
	}

	// Function to check if there are events on a specific date
	function hasEntryOnDate(date, month, year, entryDates) {

		let thisDate = new Date(year, month, date);
		if (!!entryDates.find(entry => {return entry.getTime() == thisDate.getTime()})) {
			return true;
		}
		return false;
	}

	// Function to get the number of days in a month
	function daysInMonth(iMonth, iYear) {
		return 32 - new Date(iYear, iMonth, 32).getDate();
	}
</script>
</html>
