<html>
  <head>
    <meta charset="utf-8" />
    <title>My STREAKS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

  {% include "habits/navbar.html" %}

  <ul class="nav nav-list">
    <li class="nav-header">
    Your current STREAKS:
    </li>
    {% if latest_streak_list %}
        <ul>
        {% for habit in latest_streak_list %}
          <li>
            <a href="/trh/{{ u_id }}/{{ habit.id }}/">{{ habit }}</a>
          </li>
        {% endfor %}
    {% else %}
        <li><p>No STREAKS created yet.</p></li>
    {% endif %}
  
    <a class="active" href="/trh/{{ u_id }}/create">Create a new STREAK</a>
  </ul>
  <ul class="nav nav-list">
    <li class="nav-header">
    STREAKS currently shared with you:
    </li>
    {% if shared_streak_list %}
        <ul>
        {% for habit in shared_streak_list %}
          <li>
            <a href="/trh/{{ habit.user.id }}/{{ habit.id }}/?is_viewer=true">{{ habit }}</a>
          </li>
        {% endfor %}
    {% else %}
        <li><p>No STREAKS have been shared with you yet.</p></li>
    {% endif %}
  </ul>
  </body>
</html>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
